*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-spacing: 0.5em;

}

body{
    background-color: rgb(139, 139, 139);
}

.main{
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 370px;
   margin: 3em;
}

.btn1{
    padding: 10px;
    border-radius: 5px;
}

.btn3{
    margin: 1em;
    width: 75px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
}

.calculate{
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset{
    background-color: rgb(165, 160, 152);
    border-radius: 10px;
   
}

.field{
    text-align: center;
    margin-top: 1em;
    width: 200px;
    height: 35px ;
    padding-top: 10px;
    padding-bottom: 10px;
   
    background-color: whitesmoke;
}

.btn1:hover, .btn3:hover{
    transition: 2s;
    transform: rotate( 1turn);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 5px 5px 10px 2px rgba(36, 34, 34, 0.87);

}

.given{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8em;
    word-spacing: 1em;
    flex-direction: row;
}

legend{
    color: rgb(255, 255, 255);
    background-color: rgba(14, 14, 14, 0.74);
    padding: 10px;
    letter-spacing: 0.5em;
    font-size: large;
    border-radius: 5px;
}

#win, #draw, #loss{
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    margin: 1em;
    background-color: rgb(255, 255, 255);
}

.standing{
    
    padding: 5px;
    border-style: double;
}

#a, #b, #c{
    margin: 1em;
}